@mixin flex($direction: inherit, $align-items: inherit, $justify-content: inherit, $wrap: inherit) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $wrap;
}
